body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*  search section */
.search-input {
  color: white;
  border: 0px;
  outline: 0;
  width: 0;
  margin-top: 5px;
  caret-color: #ffc107;
  line-height: 40px;
  transition: width 0.4s linear;

}

.search .search-input {
  padding: 0 10px;
  width: 100%;
  font-size: 28px;
  font-weight: 300;
  color: black;
  transition: width 0.4s linear;
}

.styleText {
  color: black !important;
}

.styleText :hover {
  color: #ffc107 !important;
}


header {
  background-color: black;
  opacity: 0.50;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  margin-right: 1rem;
}


/* header file section */

header a {
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: font-size 0.5s ease;
}

header a:hover {
  font-size: 24px;
  text-decoration: none;
  color: #ffc107;

}

/* Media query for mobile header responsiveness */
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  li {
    margin: 0.5rem 0;
  }
}